# Node
**/node_modules/
**/node_modules Copy/
**/node_modules Copy 1/


# Build
**/dist/
**/build/
**/.next/
**/.nuxt/
**/coverage/

# **/Assignmentes/
# **/Assignment*/
**/secrit/
**/folder/


# Logs
**/*.log

# Environment
**/.env
**/.env.*

# IDE
**/.vscode/
**/.idea/

# OS
**/.DS_Store
**/Thumbs.db
