APP_NAME="Library_V1"
MOOD="PROD"
FRONT_END_URL="localhost:3000"
PORT=3000

#PASSWORD
SECRET_KEY="SECRET_KEY"
SALT=8

#EMAIL
EMAIL="EMAIL"
EMAIL_PASSWORD="EMAIL_PASSWORD"

#TOKEN_SIGNATURES
CONFIRM_EMAIL_SIGNATURE="CONFIRM_EMAIL_SIGNATURE"
CONFIRM_FORGET_PASSWORD_SIGNATURE="CONFIRM_FORGET_PASSWORD_SIGNATURE"
USER_REFRESH_TOKEN="USER_REFRESH_TOKEN"
USER_ACCESS_TOKEN="USER_ACCESS_TOKEN"
